In [11]:
# analyze data with MG testcase 
# this notebook reads in 'pp.csv' in the same directory as the notebook
#objective to read in data, form diverse, balanced teams where each is similarly balanced

In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls -al

total 848
drwx------@ 11 malolemagueresse  staff     352 Jul 18 15:24 .
drwxr-xr-x  11 malolemagueresse  staff     352 Jul 18 14:51 ..
drwxr-xr-x@  5 malolemagueresse  staff     160 Jul 18 15:10 .ipynb_checkpoints
-rwxr--r--@  1 malolemagueresse  staff  178163 Jul 18 15:00 B-team-bal-wo-priority-mg-hbs6-21-v2.ipynb
-rwxr--r--@  1 malolemagueresse  staff  140251 Jun 22 21:27 B-team-bal-wo-priority-mg-hbs6-21.ipynb
-rwxr--r--@  1 malolemagueresse  staff   12039 Jun 23 00:13 out.csv
-rwxr--r--@  1 malolemagueresse  staff   48128 Jun 23 00:14 out.xls
-rwxr--r--@  1 malolemagueresse  staff   12828 Jun 23 00:09 pp-hbs-6-21.final.csv
-rwxr--r--@  1 malolemagueresse  staff   12079 Jun 22 21:17 pphbs6-21.csv
-rwxr--r--@  1 malolemagueresse  staff   14162 Jun 22 21:18 pphbs6-21.xlsx
-rw-r--r--   1 malolemagueresse  staff    1943 Jul 18 15:24 script.py

## Build people table pp

In [3]:
# use people matrix pp
# p is range from 0 to length of pp, ie 1 to N-1
# goal of teams of size m
# let N/m = number of team maximum, assume variable name S

#pp = pd.DataFrame(np.random.randint(0,100,size=(40, 4)), columns=list('ABCD'))
#p = range(len(pp))

pp = pd.read_csv('pp-hbs-6-21.final.csv')# people, pp-mg-sum21.csv
p = range(len(pp))
pp

,Timestamp,First Name,Last Name,Email Address,Your LinkedIn URL,Liberal Arts,Data Science,Engineering,Computer and Information Science,Business / Economics,...,Where are you in your academic journey?,Employment Status,Gender,Where will you take this class?,Have you started a company as a co-founder?,Have you worked in a startup?,"Do you have a family member or friend in a startup, or otherwise have some idea of what its about?",Do you have any startup experience?,Teamwork,Introduction
0,6/20/2021 15:09:52,Serena,Haber,serenahaber@hotmail.com or seh954@g.harvard.edu,NaN,1,1,1,1,1,...,3,3,1,1,2,2,1,2,2,"Passionate, Motivated, Ambitious, Hard-working..."
1,6/20/2021 15:12:17,Phuong (Penny),Chung,phc367@g.harvard.edu,https://www.linkedin.com/in/penny-phuong-chung...,1,1,1,1,2,...,1,1,1,1,1,1,1,1,3,I am the investment sale head analyst for Real...
2,6/22/2021 15:48:13,Nick,Dipietro,Nickdipietro2005@gmail.com,NaN,1,2,2,2,2,...,3,3,3,1,1,1,1,1,3,"Outgoing, Honest, organized, and motivated"
3,6/20/2021 15:23:24,Hiva,Fereydooni,Fereydoonihiva@gmail.com,https://www.linkedin.com/in/hiva-fereydooni-a2...,1,1,1,1,1,...,1,3,1,3,2,2,1,2,2,Hardworking/ moody/ serious/daydreamer/ sympat...
4,6/20/2021 15:36:01,Sofia,Saboia,smsaboia@gmail.com,https://www.linkedin.com/in/sofiasaboia/,1,1,1,1,1,...,3,3,1,1,2,2,1,2,1,inquisitive; proactive; quick learner; IB stud...
5,6/20/2021 15:42:53,Kayla,Thomas,kaylat.edu@gmail.com -OR- kat411@g.harvard.edu,http://linkedin.com/in/kayla-thomas-a1a47a215,1,1,1,1,2,...,3,3,1,1,2,2,1,2,2,"Hi, my name is Kayla, Iâ€™m 15 years old and my ..."
6,6/20/2021 15:56:27,Eva,Galvez,esgm53@yahoo.com,NaN,1,1,1,1,2,...,3,3,1,1,2,2,1,2,2,"My name is Eva, I am very social and love meet..."
7,6/20/2021 16:15:45,Om,Patel,ompatel724@gmail.com,NaN,1,1,1,1,2,...,3,3,3,1,2,2,2,2,3,"Hello, My name is Om Patel, and some keywords ..."
8,6/20/2021 16:20:02,Owen,Sun,owensun236@gmail.com,https://www.linkedin.com/mwlite/in/owen-sun-54...,1,1,2,2,2,...,1,3,3,1,2,2,1,2,2,"Independent, honest, hardworking, and open-minded"
9,6/22/2021 15:42:40,Erik,Vidal,evv156@g.harvard.edu,NaN,2,2,1,1,2,...,1,3,3,1,2,2,1,2,3,"Perfectionist, communicative, patient, and tea..."
10,6/20/2021 18:21:10,Edward,Mo,moedward@gmail.com,NaN,1,1,1,1,2,...,3,3,3,1,2,2,1,2,2,My name is Edward a Junior in high school who ...
11,6/20/2021 18:42:09,Samantha,Sternick,Smsternick@gmail.com,www.linkedin.com/in/samantha-s-713376174,1,1,1,1,2,...,1,3,1,1,2,2,1,2,1,Hi everyone my name is Samantha. Iâ€™m from New ...
12,6/20/2021 19:52:32,Rohan,Chaudhry,rohan_chaudhry@yahoo.com,NaN,1,1,1,1,1,...,3,3,3,1,2,2,1,2,1,My name is Rohan. Iâ€™m from New York. I play fo...
13,6/20/2021 20:09:42,Estefania,Cardona Forero,Estefania.cardona.forero@gmail.com,NaN,1,1,2,1,2,...,3,3,1,1,2,2,1,2,3,"My name is Estefania, I am from BogotÃ¡, Colomb..."
14,6/20/2021 20:29:10,Luca,Mezzanotte,lucamezz04@gmail.com,NaN,1,1,1,1,1,...,3,3,3,1,2,2,1,1,2,I am a highschool student looking to learn mor...
15,6/20/2021 20:50:22,Kamilah,Keith-Orange,KKOprincess6013@gmail.com,https://www.linkedin.com/onboarding/start/prof...,1,1,1,1,2,...,1,3,1,1,2,2,2,2,3,"determined, social, and smart"
16,6/22/2021 15:48:47,Elisa,Cornero,23elifuria@asfg.edu.mx,NaN,1,1,1,1,2,...,1,3,1,1,2,2,1,2,2,"hard working, reliable, on time, careful, lead..."
17,6/20/2021 21:44:56,Nelson,Saravia,spicymayo423@gmail.com,NaN,1,1,1,1,2,...,1,3,3,1,2,2,2,2,2,I'm quite and like to work with people
18,6/20/2021 23:28:31,Ahana,Agarwal,ahana.agarwal10@gmail.com,NaN,1,1,1,1,2,...,1,3,1,3,2,2,1,2,2,My names Ahana Agarwal and Iâ€™m a creative and ...
19,6/22/2021 15:50:39,Ziqian,Wang,wangziq22@yeah.net,NaN,1,1,1,1,2,...,3,3,1,3,2,2,1,2,1,"self-motivated, independent, good time managem..."
20,6/21/2021 5:58:06,Arun Anand,Pelluri,arun.pelluri@gmail.com,https://www.linkedin.com/in/arun-anand-pelluri...,1,1,1,1,2,...,3,3,3,1,2,2,2,2,2,"Hi there, my name is Arun Anand Pelluri (I go ..."
21,6/21/2021 7:02:59,Abhay,Mahajan,abhay123mahajan@gmail.com,https://www.linkedin.com/in/abhay-mahajan-4380...,1,2,2,2,1,...,1,3,3,1,1,1,1,1,3,"Quiet,"
22,6/21/2021 8:49:41,Iman,El Attar,imanmelattar@gmail.com,NaN,1,1,1,1,1,...,3,3,1,2,2,2,1,2,3,"My name is Iman El Attar. I am from Houston, T..."
23,6/21/2021 12:02:43,Maizah,Zia,maz213@g.harvard.edu,NaN,2,1,1,1,2,...,3,2,1,1,2,2,1,2,2,"Hardworking, strong work ethic, kind, introver..."
24,6/21/2021 12:16:02,Humnah,Memon,Humnah.Memon@gmail.com,https://www.linkedin.com/in/humnah-memon-b62a0...,2,1,1,1,2,...,1,3,1,1,2,1,1,1,3,"Driven, meticulous, methodical"
25,6/21/2021 12:18:14,Vinnie,Park,vpark@thacher.org,NaN,1,1,1,1,1,...,3,3,3,1,2,2,1,2,2,"Tactile, cohesive, clever, flexible"
26,6/21/2021 12:30:01,JORGE,MENDOZA,jorge_mendoza@fas.harvard.edu,linkedin.com/in/jorge-mendoza-32167192,1,1,1,1,2,...,1,1,3,1,2,2,2,2,2,"collaborator, team player, maximizer, communic..."
27,6/21/2021 12:32:24,somaia,Dost,dostsomaia@gmail.com,https://www.linkedin.com/in/somaia-dost-081470...,1,1,1,1,2,...,3,1,1,2,2,2,2,2,2,"consistent, motivated, helpful, courageous"
28,6/21/2021 12:32:44,Aadi,Agrawal,audi458italia@gmail.com,NaN,1,1,1,1,2,...,3,3,3,1,2,2,2,2,3,"High Schooler, Funny, Smart,"
29,6/21/2021 12:36:27,Garret,Molloy,gam160@g.harvard.edu,www.linkedin.com/in/ garret-molloy-794505215,1,1,1,1,2,...,3,3,3,2,2,2,1,1,1,I have taken this course with the desire to im...
30,6/21/2021 13:53:10,Nikunj,Jinan,jinan.nikunj@gmail.com,NaN,2,1,1,1,2,...,1,1,3,1,1,1,1,1,3,Hi my name is Nikunj Jinan and I am the founde...
31,6/21/2021 14:46:42,Oliver,Tuff,tuffoliver@gmail.com,NaN,1,1,1,1,1,...,3,3,3,1,2,2,2,2,1,Hi I'm Oliver- I'm a full time high school stu...
32,6/21/2021 16:30:45,Brennan-Pierson,Wang,brennanpierson@gmail.com,NaN,1,1,1,1,1,...,3,3,3,1,1,1,1,1,1,"I'm excited to engage in this course, meet lik..."
33,6/21/2021 17:29:41,Roman,Khosa,roman.khosa@pinecrest.edu,www.linkedin.com/in/ roman-khosa-75ba19213,1,1,1,1,1,...,3,3,3,1,2,2,1,2,3,"Hello, my name is Roman, I am really intereste..."
34,6/21/2021 18:02:53,Jasmine,Traidman,jasminetraidman@gmail.com,NaN,1,1,1,1,1,...,3,3,1,1,2,2,1,2,3,"Hello, I'm an excited high school student with..."
35,6/21/2021 18:19:23,Liam,Lichocki,liam.lichocki@gmail.com,NaN,1,1,1,1,1,...,3,3,3,1,2,2,1,2,2,"Im Liam, im entering my junior year of Highsch..."
36,6/21/2021 19:25:11,Maryia,Pauliushchyk,mary.pavi05@gmail.com,https://www.linkedin.com/in/maryia-pauliushchy...,2,1,2,1,2,...,1,3,1,1,2,2,1,2,2,"I would describe myself as communicable, focus..."
37,6/21/2021 20:38:08,Kyle,Chen,chennnkyle@gmail.com,NaN,1,1,1,1,2,...,3,3,3,1,2,2,2,2,3,"Ready to learn, concentrated, persistent"
38,6/21/2021 23:52:58,Mona,Tousian,mona@seas.harvard.edu,https://www.linkedin.com/in/mona-tousian-a10a3...,1,1,2,2,2,...,2,1,1,1,1,2,2,2,3,"Goal setter, organized, creative"
39,6/22/2021 7:09:56,Keysha,Taylor,ket100@g.harvard.edu,http://linkedin.com/in/keyshawalker/,1,1,1,1,2,...,1,1,1,1,1,1,1,1,2,"Hello, I'm Keysha Taylor an ALB student with t..."
40,6/22/2021 8:11:17,Benjamin,Yan,benjaminyan734@gmail.com,https://www.linkedin.com/in/benjamin-yan-30899...,1,1,1,1,2,...,3,3,3,1,1,2,1,2,3,"Hello, my name is Benjamin Yan from Cary, Nort..."
41,6/22/2021 8:54:27,Siyona,Thakkar,siyonathak07@gmail.com,NaN,1,1,1,1,1,...,3,3,1,1,2,2,2,2,3,"easy-going, empathetic, resourceful"
42,6/22/2021 15:48:59,Eduardo,Borges,eborges3104@gmail.com,NaN,1,1,1,1,2,...,3,2,3,1,2,1,1,1,3,"intelligent, hardworking, openminded, athletic"
43,6/22/2021 9:01:56,Yekaterina,Plotnikova,yep367@g.harvard.edu,NaN,1,1,1,1,2,...,1,3,1,2,2,2,1,2,3,I am an undergrad at HES and I am studying bus...
44,6/22/2021 9:23:31,Lynberlee,Leng,lyl467@g.harvard.edu,NaN,1,1,1,1,2,...,3,3,1,1,2,2,2,2,3,"kind, understanding, high school student, lacr..."
45,6/22/2021 15:06:32,Albert,Tsai,alberttsai88@outlook.com,https://en.wikipedia.org/wiki/Albert_Tsai,2,1,1,1,2,...,3,2,3,1,1,1,1,1,2,"Hi, I'm Albert. In addition to being a high sc..."
46,6/22/2021 15:49:56,David,Kalantar,dkalantar3@gmail.com,NaN,2,2,1,2,1,...,3,2,3,1,2,2,1,2,1,"Ambitious, creative, charismatic"
47,6/22/2021 15:51:03,Maizah,Zia,maz213@g.harvard.edu,NaN,2,1,1,1,2,...,1,2,1,1,2,2,1,1,2,"hardworking, strong work ethic, kind, like to ..."

In [4]:
# set up for matching and build ppreport, a report table
pc=list(p)
ppcol = list(pp.columns)
#ppc = pp[['Level','Gender','Teamwork','Major']].copy() #deep copy,pp is unchanged

### NOTE: ppc would take into account only the columns that are not "ignored" by the user! 
ppc = pp[[ppcol[5],ppcol[6],ppcol[7],ppcol[8],ppcol[9],ppcol[10],ppcol[11],ppcol[12],ppcol[13],ppcol[14],ppcol[15],ppcol[16],ppcol[17],ppcol[18],ppcol[19],ppcol[20],ppcol[21],ppcol[22],ppcol[23]]].copy() #deep copy,pp is unchanged
#m = 5
N = len(pp)

S = 12 # S is number of teams to be created, approx N/m

### NOTE: ppreport is just a deep copy of pp?
ppreport = pp[[ppcol[1],ppcol[2],ppcol[3], ppcol[4], ppcol[5], ppcol[6],ppcol[7],ppcol[8],ppcol[9],ppcol[10],ppcol[11],ppcol[12],ppcol[13],ppcol[14],ppcol[15],ppcol[16],ppcol[17],ppcol[18],ppcol[19],ppcol[20],ppcol[21],ppcol[22],ppcol[23],ppcol[24]]].copy() #deep copy,pp is unchanged
ppreport['Team']='TBA'
ppreport['Similarity']=np.nan
ppreport

#prjmat =[] #intended list list of project team
prjmat =[]
for s in range(S): prjmat.append([])
print('prjmat:',prjmat) 
print(pc)
# print(ppreport.head())
# print(ppc.head())
ppreport.head()

prjmat: [[], [], [], [], [], [], [], [], [], [], [], []]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]

,First Name,Last Name,Email Address,Your LinkedIn URL,Liberal Arts,Data Science,Engineering,Computer and Information Science,Business / Economics,Liberal Arts.1,...,Gender,Where will you take this class?,Have you started a company as a co-founder?,Have you worked in a startup?,"Do you have a family member or friend in a startup, or otherwise have some idea of what its about?",Do you have any startup experience?,Teamwork,Introduction,Team,Similarity
0,Serena,Haber,serenahaber@hotmail.com or seh954@g.harvard.edu,NaN,1,1,1,1,1,0,...,1,1,2,2,1,2,2,"Passionate, Motivated, Ambitious, Hard-working...",TBA,NaN
1,Phuong (Penny),Chung,phc367@g.harvard.edu,https://www.linkedin.com/in/penny-phuong-chung...,1,1,1,1,2,0,...,1,1,1,1,1,1,3,I am the investment sale head analyst for Real...,TBA,NaN
2,Nick,Dipietro,Nickdipietro2005@gmail.com,NaN,1,2,2,2,2,0,...,3,1,1,1,1,1,3,"Outgoing, Honest, organized, and motivated",TBA,NaN
3,Hiva,Fereydooni,Fereydoonihiva@gmail.com,https://www.linkedin.com/in/hiva-fereydooni-a2...,1,1,1,1,1,0,...,1,3,2,2,1,2,2,Hardworking/ moody/ serious/daydreamer/ sympat...,TBA,NaN
4,Sofia,Saboia,smsaboia@gmail.com,https://www.linkedin.com/in/sofiasaboia/,1,1,1,1,1,0,...,1,1,2,2,1,2,1,inquisitive; proactive; quick learner; IB stud...,TBA,NaN

## Assign People to Teams Iteratively

In [5]:

for s in range(S):
    prjmat[s].append(s)
    pc.remove(s)
print(prjmat,pc)   

#add element to team i starting with 0 to S-1, and repeat
i=0

while len(pc)!=0:
    
    mcor = 1000000.0 # a large number
    #print(mcor)
    minj = -1
    
    for j in pc:
        prjcopy = prjmat[i].copy()
        prjcopy.append(j)
        tmp = ppc.iloc[prjcopy]
        ccor=tmp.transpose().corr().sum().sum() #current correlation mattrix sum
        #print(ccor)
        if ccor < mcor:
            mcor = ccor
            minj = j
            #print('remove ',j, mcor)
    
    #after loop of all pc
    if minj != -1: 
        pc.remove(minj)   # then add to prjmat[i]
        prjmat[i].append(minj)
        
    i=i+1
    if i==S: i=0
    
prjmat

[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11]] [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]

[[0, 47, 46, 17],
 [1, 31, 36, 14],
 [2, 27, 24, 25],
 [3, 38, 32, 35],
 [4, 30, 15, 34],
 [5, 21, 39, 20],
 [6, 26, 22, 40],
 [7, 16, 42, 13],
 [8, 19, 41, 44],
 [9, 29, 23, 33],
 [10, 18, 12, 28],
 [11, 45, 43, 37]]

In [6]:
#test that no one is unassigned
pc

[]

# Add team number to ppreport

In [7]:
k=0
for i in range(S):
    for j in range(len(prjmat[i])):
        #print(prjmat[i][j])
        ppreport.at[prjmat[i][j], 'Team'] = i #prjmat[i][j]
        k=k+1
ppreport

,First Name,Last Name,Email Address,Your LinkedIn URL,Liberal Arts,Data Science,Engineering,Computer and Information Science,Business / Economics,Liberal Arts.1,...,Gender,Where will you take this class?,Have you started a company as a co-founder?,Have you worked in a startup?,"Do you have a family member or friend in a startup, or otherwise have some idea of what its about?",Do you have any startup experience?,Teamwork,Introduction,Team,Similarity
0,Serena,Haber,serenahaber@hotmail.com or seh954@g.harvard.edu,NaN,1,1,1,1,1,0,...,1,1,2,2,1,2,2,"Passionate, Motivated, Ambitious, Hard-working...",0,NaN
1,Phuong (Penny),Chung,phc367@g.harvard.edu,https://www.linkedin.com/in/penny-phuong-chung...,1,1,1,1,2,0,...,1,1,1,1,1,1,3,I am the investment sale head analyst for Real...,1,NaN
2,Nick,Dipietro,Nickdipietro2005@gmail.com,NaN,1,2,2,2,2,0,...,3,1,1,1,1,1,3,"Outgoing, Honest, organized, and motivated",2,NaN
3,Hiva,Fereydooni,Fereydoonihiva@gmail.com,https://www.linkedin.com/in/hiva-fereydooni-a2...,1,1,1,1,1,0,...,1,3,2,2,1,2,2,Hardworking/ moody/ serious/daydreamer/ sympat...,3,NaN
4,Sofia,Saboia,smsaboia@gmail.com,https://www.linkedin.com/in/sofiasaboia/,1,1,1,1,1,0,...,1,1,2,2,1,2,1,inquisitive; proactive; quick learner; IB stud...,4,NaN
5,Kayla,Thomas,kaylat.edu@gmail.com -OR- kat411@g.harvard.edu,http://linkedin.com/in/kayla-thomas-a1a47a215,1,1,1,1,2,0,...,1,1,2,2,1,2,2,"Hi, my name is Kayla, Iâ€™m 15 years old and my ...",5,NaN
6,Eva,Galvez,esgm53@yahoo.com,NaN,1,1,1,1,2,0,...,1,1,2,2,1,2,2,"My name is Eva, I am very social and love meet...",6,NaN
7,Om,Patel,ompatel724@gmail.com,NaN,1,1,1,1,2,0,...,3,1,2,2,2,2,3,"Hello, My name is Om Patel, and some keywords ...",7,NaN
8,Owen,Sun,owensun236@gmail.com,https://www.linkedin.com/mwlite/in/owen-sun-54...,1,1,2,2,2,1,...,3,1,2,2,1,2,2,"Independent, honest, hardworking, and open-minded",8,NaN
9,Erik,Vidal,evv156@g.harvard.edu,NaN,2,2,1,1,2,0,...,3,1,2,2,1,2,3,"Perfectionist, communicative, patient, and tea...",9,NaN
10,Edward,Mo,moedward@gmail.com,NaN,1,1,1,1,2,0,...,3,1,2,2,1,2,2,My name is Edward a Junior in high school who ...,10,NaN
11,Samantha,Sternick,Smsternick@gmail.com,www.linkedin.com/in/samantha-s-713376174,1,1,1,1,2,0,...,1,1,2,2,1,2,1,Hi everyone my name is Samantha. Iâ€™m from New ...,11,NaN
12,Rohan,Chaudhry,rohan_chaudhry@yahoo.com,NaN,1,1,1,1,1,0,...,3,1,2,2,1,2,1,My name is Rohan. Iâ€™m from New York. I play fo...,10,NaN
13,Estefania,Cardona Forero,Estefania.cardona.forero@gmail.com,NaN,1,1,2,1,2,0,...,1,1,2,2,1,2,3,"My name is Estefania, I am from BogotÃ¡, Colomb...",7,NaN
14,Luca,Mezzanotte,lucamezz04@gmail.com,NaN,1,1,1,1,1,0,...,3,1,2,2,1,1,2,I am a highschool student looking to learn mor...,1,NaN
15,Kamilah,Keith-Orange,KKOprincess6013@gmail.com,https://www.linkedin.com/onboarding/start/prof...,1,1,1,1,2,1,...,1,1,2,2,2,2,3,"determined, social, and smart",4,NaN
16,Elisa,Cornero,23elifuria@asfg.edu.mx,NaN,1,1,1,1,2,0,...,1,1,2,2,1,2,2,"hard working, reliable, on time, careful, lead...",7,NaN
17,Nelson,Saravia,spicymayo423@gmail.com,NaN,1,1,1,1,2,0,...,3,1,2,2,2,2,2,I'm quite and like to work with people,0,NaN
18,Ahana,Agarwal,ahana.agarwal10@gmail.com,NaN,1,1,1,1,2,0,...,1,3,2,2,1,2,2,My names Ahana Agarwal and Iâ€™m a creative and ...,10,NaN
19,Ziqian,Wang,wangziq22@yeah.net,NaN,1,1,1,1,2,0,...,1,3,2,2,1,2,1,"self-motivated, independent, good time managem...",8,NaN
20,Arun Anand,Pelluri,arun.pelluri@gmail.com,https://www.linkedin.com/in/arun-anand-pelluri...,1,1,1,1,2,0,...,3,1,2,2,2,2,2,"Hi there, my name is Arun Anand Pelluri (I go ...",5,NaN
21,Abhay,Mahajan,abhay123mahajan@gmail.com,https://www.linkedin.com/in/abhay-mahajan-4380...,1,2,2,2,1,0,...,3,1,1,1,1,1,3,"Quiet,",5,NaN
22,Iman,El Attar,imanmelattar@gmail.com,n/a,1,1,1,1,1,0,...,1,2,2,2,1,2,3,"My name is Iman El Attar. I am from Houston, T...",6,NaN
23,Maizah,Zia,maz213@g.harvard.edu,NaN,2,1,1,1,2,0,...,1,1,2,2,1,2,2,"Hardworking, strong work ethic, kind, introver...",9,NaN
24,Humnah,Memon,Humnah.Memon@gmail.com,https://www.linkedin.com/in/humnah-memon-b62a0...,2,1,1,1,2,0,...,1,1,2,1,1,1,3,"Driven, meticulous, methodical",2,NaN
25,Vinnie,Park,vpark@thacher.org,NaN,1,1,1,1,1,0,...,3,1,2,2,1,2,2,"Tactile, cohesive, clever, flexible",2,NaN
26,JORGE,MENDOZA,jorge_mendoza@fas.harvard.edu,linkedin.com/in/jorge-mendoza-32167192,1,1,1,1,2,0,...,3,1,2,2,2,2,2,"collaborator, team player, maximizer, communic...",6,NaN
27,somaia,Dost,dostsomaia@gmail.com,https://www.linkedin.com/in/somaia-dost-081470...,1,1,1,1,2,1,...,1,2,2,2,2,2,2,"consistent, motivated, helpful, courageous",2,NaN
28,Aadi,Agrawal,audi458italia@gmail.com,NaN,1,1,1,1,2,0,...,3,1,2,2,2,2,3,"High Schooler, Funny, Smart,",10,NaN
29,Garret,Molloy,gam160@g.harvard.edu,www.linkedin.com/in/ garret-molloy-794505215,1,1,1,1,2,0,...,3,2,2,2,1,1,1,I have taken this course with the desire to im...,9,NaN
30,Nikunj,Jinan,jinan.nikunj@gmail.com,NaN,2,1,1,1,2,0,...,3,1,1,1,1,1,3,Hi my name is Nikunj Jinan and I am the founde...,4,NaN
31,Oliver,Tuff,tuffoliver@gmail.com,NaN,1,1,1,1,1,0,...,3,1,2,2,2,2,1,Hi I'm Oliver- I'm a full time high school stu...,1,NaN
32,Brennan-Pierson,Wang,brennanpierson@gmail.com,NaN,1,1,1,1,1,0,...,3,1,1,1,1,1,1,"I'm excited to engage in this course, meet lik...",3,NaN
33,Roman,Khosa,roman.khosa@pinecrest.edu,www.linkedin.com/in/ roman-khosa-75ba19213,1,1,1,1,1,0,...,3,1,2,2,1,2,3,"Hello, my name is Roman, I am really intereste...",9,NaN
34,Jasmine,Traidman,jasminetraidman@gmail.com,NaN,1,1,1,1,1,0,...,1,1,2,2,1,2,3,"Hello, I'm an excited high school student with...",4,NaN
35,Liam,Lichocki,liam.lichocki@gmail.com,NaN,1,1,1,1,1,0,...,3,1,2,2,1,2,2,"Im Liam, im entering my junior year of Highsch...",3,NaN
36,Maryia,Pauliushchyk,mary.pavi05@gmail.com,https://www.linkedin.com/in/maryia-pauliushchy...,2,1,2,1,2,0,...,1,1,2,2,1,2,2,"I would describe myself as communicable, focus...",1,NaN
37,Kyle,Chen,chennnkyle@gmail.com,NaN,1,1,1,1,2,0,...,3,1,2,2,2,2,3,"Ready to learn, concentrated, persistent",11,NaN
38,Mona,Tousian,mona@seas.harvard.edu,https://www.linkedin.com/in/mona-tousian-a10a3...,1,1,2,2,2,1,...,1,1,1,2,2,2,3,"Goal setter, organized, creative",3,NaN
39,Keysha,Taylor,ket100@g.harvard.edu,http://linkedin.com/in/keyshawalker/,1,1,1,1,2,0,...,1,1,1,1,1,1,2,"Hello, I'm Keysha Taylor an ALB student with t...",5,NaN
40,Benjamin,Yan,benjaminyan734@gmail.com,https://www.linkedin.com/in/benjamin-yan-30899...,1,1,1,1,2,0,...,3,1,1,2,1,2,3,"Hello, my name is Benjamin Yan from Cary, Nort...",6,NaN
41,Siyona,Thakkar,siyonathak07@gmail.com,NaN,1,1,1,1,1,0,...,1,1,2,2,2,2,3,"easy-going, empathetic, resourceful",8,NaN
42,Eduardo,Borges,eborges3104@gmail.com,NaN,1,1,1,1,2,0,...,3,1,2,1,1,1,3,"intelligent, hardworking, openminded, athletic",7,NaN
43,Yekaterina,Plotnikova,yep367@g.harvard.edu,NaN,1,1,1,1,2,0,...,1,2,2,2,1,2,3,I am an undergrad at HES and I am studying bus...,11,NaN
44,Lynberlee,Leng,lyl467@g.harvard.edu,NaN,1,1,1,1,2,0,...,1,1,2,2,2,2,3,"kind, understanding, high school student, lacr...",8,NaN
45,Albert,Tsai,alberttsai88@outlook.com,https://en.wikipedia.org/wiki/Albert_Tsai,2,1,1,1,2,0,...,3,1,1,1,1,1,2,"Hi, I'm Albert. In addition to being a high sc...",11,NaN
46,David,Kalantar,dkalantar3@gmail.com,NaN,2,2,1,2,1,0,...,3,1,2,2,1,2,1,"Ambitious, creative, charismatic",0,NaN
47,Maizah,Zia,maz213@g.harvard.edu,NaN,2,1,1,1,2,2,...,1,1,2,2,1,1,2,"hardworking, strong work ethic, kind, like to ...",0,NaN

In [8]:
ppreport.to_csv(r'out.csv', index = False)

In [9]:
ppreport.to_excel(r'out.xls', index = False)

# Testing script

In [1]:
from script import team_formation_tool

In [2]:
?team_formation_tool

Signature: team_formation_tool(data, columns, useful_indexes, team_size, isCsv=False)
Docstring: <no docstring>
File:      ~/Documents/GitHub/teamFormation/jojoAttempt2/hbs6-21/script.py
Type:      function

In [3]:
report = team_formation_tool('pp-hbs-6-21.final.csv',[],[i for i in range(5,25)],4,True)

In [4]:
report

,Timestamp,First Name,Last Name,Email Address,Your LinkedIn URL,Liberal Arts,Data Science,Engineering,Computer and Information Science,Business / Economics,...,Gender,Where will you take this class?,Have you started a company as a co-founder?,Have you worked in a startup?,"Do you have a family member or friend in a startup, or otherwise have some idea of what its about?",Do you have any startup experience?,Teamwork,Introduction,Team,Similarity
0,6/20/2021 15:09:52,Serena,Haber,serenahaber@hotmail.com or seh954@g.harvard.edu,NaN,1,1,1,1,1,...,1,1,2,2,1,2,2,"Passionate, Motivated, Ambitious, Hard-working...",0,NaN
1,6/20/2021 15:12:17,Phuong (Penny),Chung,phc367@g.harvard.edu,https://www.linkedin.com/in/penny-phuong-chung...,1,1,1,1,2,...,1,1,1,1,1,1,3,I am the investment sale head analyst for Real...,1,NaN
2,6/22/2021 15:48:13,Nick,Dipietro,Nickdipietro2005@gmail.com,NaN,1,2,2,2,2,...,3,1,1,1,1,1,3,"Outgoing, Honest, organized, and motivated",2,NaN
3,6/20/2021 15:23:24,Hiva,Fereydooni,Fereydoonihiva@gmail.com,https://www.linkedin.com/in/hiva-fereydooni-a2...,1,1,1,1,1,...,1,3,2,2,1,2,2,Hardworking/ moody/ serious/daydreamer/ sympat...,3,NaN
4,6/20/2021 15:36:01,Sofia,Saboia,smsaboia@gmail.com,https://www.linkedin.com/in/sofiasaboia/,1,1,1,1,1,...,1,1,2,2,1,2,1,inquisitive; proactive; quick learner; IB stud...,4,NaN
5,6/20/2021 15:42:53,Kayla,Thomas,kaylat.edu@gmail.com -OR- kat411@g.harvard.edu,http://linkedin.com/in/kayla-thomas-a1a47a215,1,1,1,1,2,...,1,1,2,2,1,2,2,"Hi, my name is Kayla, Iâ€™m 15 years old and my ...",5,NaN
6,6/20/2021 15:56:27,Eva,Galvez,esgm53@yahoo.com,NaN,1,1,1,1,2,...,1,1,2,2,1,2,2,"My name is Eva, I am very social and love meet...",6,NaN
7,6/20/2021 16:15:45,Om,Patel,ompatel724@gmail.com,NaN,1,1,1,1,2,...,3,1,2,2,2,2,3,"Hello, My name is Om Patel, and some keywords ...",7,NaN
8,6/20/2021 16:20:02,Owen,Sun,owensun236@gmail.com,https://www.linkedin.com/mwlite/in/owen-sun-54...,1,1,2,2,2,...,3,1,2,2,1,2,2,"Independent, honest, hardworking, and open-minded",8,NaN
9,6/22/2021 15:42:40,Erik,Vidal,evv156@g.harvard.edu,NaN,2,2,1,1,2,...,3,1,2,2,1,2,3,"Perfectionist, communicative, patient, and tea...",9,NaN
10,6/20/2021 18:21:10,Edward,Mo,moedward@gmail.com,NaN,1,1,1,1,2,...,3,1,2,2,1,2,2,My name is Edward a Junior in high school who ...,10,NaN
11,6/20/2021 18:42:09,Samantha,Sternick,Smsternick@gmail.com,www.linkedin.com/in/samantha-s-713376174,1,1,1,1,2,...,1,1,2,2,1,2,1,Hi everyone my name is Samantha. Iâ€™m from New ...,11,NaN
12,6/20/2021 19:52:32,Rohan,Chaudhry,rohan_chaudhry@yahoo.com,NaN,1,1,1,1,1,...,3,1,2,2,1,2,1,My name is Rohan. Iâ€™m from New York. I play fo...,0,NaN
13,6/20/2021 20:09:42,Estefania,Cardona Forero,Estefania.cardona.forero@gmail.com,NaN,1,1,2,1,2,...,1,1,2,2,1,2,3,"My name is Estefania, I am from BogotÃ¡, Colomb...",1,NaN
14,6/20/2021 20:29:10,Luca,Mezzanotte,lucamezz04@gmail.com,NaN,1,1,1,1,1,...,3,1,2,2,1,1,2,I am a highschool student looking to learn mor...,2,NaN
15,6/20/2021 20:50:22,Kamilah,Keith-Orange,KKOprincess6013@gmail.com,https://www.linkedin.com/onboarding/start/prof...,1,1,1,1,2,...,1,1,2,2,2,2,3,"determined, social, and smart",3,NaN
16,6/22/2021 15:48:47,Elisa,Cornero,23elifuria@asfg.edu.mx,NaN,1,1,1,1,2,...,1,1,2,2,1,2,2,"hard working, reliable, on time, careful, lead...",4,NaN
17,6/20/2021 21:44:56,Nelson,Saravia,spicymayo423@gmail.com,NaN,1,1,1,1,2,...,3,1,2,2,2,2,2,I'm quite and like to work with people,5,NaN
18,6/20/2021 23:28:31,Ahana,Agarwal,ahana.agarwal10@gmail.com,NaN,1,1,1,1,2,...,1,3,2,2,1,2,2,My names Ahana Agarwal and Iâ€™m a creative and ...,6,NaN
19,6/22/2021 15:50:39,Ziqian,Wang,wangziq22@yeah.net,NaN,1,1,1,1,2,...,1,3,2,2,1,2,1,"self-motivated, independent, good time managem...",7,NaN
20,6/21/2021 5:58:06,Arun Anand,Pelluri,arun.pelluri@gmail.com,https://www.linkedin.com/in/arun-anand-pelluri...,1,1,1,1,2,...,3,1,2,2,2,2,2,"Hi there, my name is Arun Anand Pelluri (I go ...",8,NaN
21,6/21/2021 7:02:59,Abhay,Mahajan,abhay123mahajan@gmail.com,https://www.linkedin.com/in/abhay-mahajan-4380...,1,2,2,2,1,...,3,1,1,1,1,1,3,"Quiet,",9,NaN
22,6/21/2021 8:49:41,Iman,El Attar,imanmelattar@gmail.com,NaN,1,1,1,1,1,...,1,2,2,2,1,2,3,"My name is Iman El Attar. I am from Houston, T...",10,NaN
23,6/21/2021 12:02:43,Maizah,Zia,maz213@g.harvard.edu,NaN,2,1,1,1,2,...,1,1,2,2,1,2,2,"Hardworking, strong work ethic, kind, introver...",11,NaN
24,6/21/2021 12:16:02,Humnah,Memon,Humnah.Memon@gmail.com,https://www.linkedin.com/in/humnah-memon-b62a0...,2,1,1,1,2,...,1,1,2,1,1,1,3,"Driven, meticulous, methodical",0,NaN
25,6/21/2021 12:18:14,Vinnie,Park,vpark@thacher.org,NaN,1,1,1,1,1,...,3,1,2,2,1,2,2,"Tactile, cohesive, clever, flexible",1,NaN
26,6/21/2021 12:30:01,JORGE,MENDOZA,jorge_mendoza@fas.harvard.edu,linkedin.com/in/jorge-mendoza-32167192,1,1,1,1,2,...,3,1,2,2,2,2,2,"collaborator, team player, maximizer, communic...",2,NaN
27,6/21/2021 12:32:24,somaia,Dost,dostsomaia@gmail.com,https://www.linkedin.com/in/somaia-dost-081470...,1,1,1,1,2,...,1,2,2,2,2,2,2,"consistent, motivated, helpful, courageous",3,NaN
28,6/21/2021 12:32:44,Aadi,Agrawal,audi458italia@gmail.com,NaN,1,1,1,1,2,...,3,1,2,2,2,2,3,"High Schooler, Funny, Smart,",4,NaN
29,6/21/2021 12:36:27,Garret,Molloy,gam160@g.harvard.edu,www.linkedin.com/in/ garret-molloy-794505215,1,1,1,1,2,...,3,2,2,2,1,1,1,I have taken this course with the desire to im...,5,NaN
30,6/21/2021 13:53:10,Nikunj,Jinan,jinan.nikunj@gmail.com,NaN,2,1,1,1,2,...,3,1,1,1,1,1,3,Hi my name is Nikunj Jinan and I am the founde...,6,NaN
31,6/21/2021 14:46:42,Oliver,Tuff,tuffoliver@gmail.com,NaN,1,1,1,1,1,...,3,1,2,2,2,2,1,Hi I'm Oliver- I'm a full time high school stu...,7,NaN
32,6/21/2021 16:30:45,Brennan-Pierson,Wang,brennanpierson@gmail.com,NaN,1,1,1,1,1,...,3,1,1,1,1,1,1,"I'm excited to engage in this course, meet lik...",8,NaN
33,6/21/2021 17:29:41,Roman,Khosa,roman.khosa@pinecrest.edu,www.linkedin.com/in/ roman-khosa-75ba19213,1,1,1,1,1,...,3,1,2,2,1,2,3,"Hello, my name is Roman, I am really intereste...",9,NaN
34,6/21/2021 18:02:53,Jasmine,Traidman,jasminetraidman@gmail.com,NaN,1,1,1,1,1,...,1,1,2,2,1,2,3,"Hello, I'm an excited high school student with...",10,NaN
35,6/21/2021 18:19:23,Liam,Lichocki,liam.lichocki@gmail.com,NaN,1,1,1,1,1,...,3,1,2,2,1,2,2,"Im Liam, im entering my junior year of Highsch...",11,NaN
36,6/21/2021 19:25:11,Maryia,Pauliushchyk,mary.pavi05@gmail.com,https://www.linkedin.com/in/maryia-pauliushchy...,2,1,2,1,2,...,1,1,2,2,1,2,2,"I would describe myself as communicable, focus...",0,NaN
37,6/21/2021 20:38:08,Kyle,Chen,chennnkyle@gmail.com,NaN,1,1,1,1,2,...,3,1,2,2,2,2,3,"Ready to learn, concentrated, persistent",1,NaN
38,6/21/2021 23:52:58,Mona,Tousian,mona@seas.harvard.edu,https://www.linkedin.com/in/mona-tousian-a10a3...,1,1,2,2,2,...,1,1,1,2,2,2,3,"Goal setter, organized, creative",2,NaN
39,6/22/2021 7:09:56,Keysha,Taylor,ket100@g.harvard.edu,http://linkedin.com/in/keyshawalker/,1,1,1,1,2,...,1,1,1,1,1,1,2,"Hello, I'm Keysha Taylor an ALB student with t...",3,NaN
40,6/22/2021 8:11:17,Benjamin,Yan,benjaminyan734@gmail.com,https://www.linkedin.com/in/benjamin-yan-30899...,1,1,1,1,2,...,3,1,1,2,1,2,3,"Hello, my name is Benjamin Yan from Cary, Nort...",4,NaN
41,6/22/2021 8:54:27,Siyona,Thakkar,siyonathak07@gmail.com,NaN,1,1,1,1,1,...,1,1,2,2,2,2,3,"easy-going, empathetic, resourceful",5,NaN
42,6/22/2021 15:48:59,Eduardo,Borges,eborges3104@gmail.com,NaN,1,1,1,1,2,...,3,1,2,1,1,1,3,"intelligent, hardworking, openminded, athletic",6,NaN
43,6/22/2021 9:01:56,Yekaterina,Plotnikova,yep367@g.harvard.edu,NaN,1,1,1,1,2,...,1,2,2,2,1,2,3,I am an undergrad at HES and I am studying bus...,7,NaN
44,6/22/2021 9:23:31,Lynberlee,Leng,lyl467@g.harvard.edu,NaN,1,1,1,1,2,...,1,1,2,2,2,2,3,"kind, understanding, high school student, lacr...",8,NaN
45,6/22/2021 15:06:32,Albert,Tsai,alberttsai88@outlook.com,https://en.wikipedia.org/wiki/Albert_Tsai,2,1,1,1,2,...,3,1,1,1,1,1,2,"Hi, I'm Albert. In addition to being a high sc...",9,NaN
46,6/22/2021 15:49:56,David,Kalantar,dkalantar3@gmail.com,NaN,2,2,1,2,1,...,3,1,2,2,1,2,1,"Ambitious, creative, charismatic",10,NaN
47,6/22/2021 15:51:03,Maizah,Zia,maz213@g.harvard.edu,NaN,2,1,1,1,2,...,1,1,2,2,1,1,2,"hardworking, strong work ethic, kind, like to ...",11,NaN